<mat-toolbar class="header" fxFlexLayout="row" class="mat-typography">
  <div fxFlexFill fxLayoutAlign="space-around center" fxLayout="row">
    <div fxLayoutAlign="baseline" fxLayout="row" fxFlex="auto">
      <a routerLink="/" target="_self">
        <img
            *ngIf="assetsBasePath"
            src="{{assetsBasePath}}img/brixthis.png" 
            style="height:22px; padding:0 12px 0px 0;">
      </a>
    </div>
    <div fxLayoutAlign="baseline" fxFlex="auto" ><h1 class="toolbar-title">Layout Builder</h1></div>
    <div fxFlex="flex"></div>
    <div fxLayoutAlign="baseline" fxFlex="auto">
      <button 
        mat-icon-button
        (click)="launchResults()"
        color="primary">
        <i class="fas fa-2x fa-save"></i>
      </button>
      <a 
        href="https://github.com/pointyfar/hubrix" 
        mat-icon-button 
        color="primary">
        <i class="fab fa-2x fa-github"></i>
      </a>
      <button 
        *ngIf="helpText"
        (click)="launchHelp()"
        mat-icon-button 
        color="primary">
        <i class="fas fa-2x fa-info-circle"></i>
      </button>
    </div>
    
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content class="mat-typography">
    <mat-tab-group>
<!--      <mat-tab label="About">
        
      </mat-tab>-->
      <mat-tab label="Build Layout">
        <bx-layout-config
         [helpTextSource]="helpTextSource"
         [layoutWidgetsSource]="layoutWidgetsSource"
         [layoutConfigSource]="layoutConfigSource"
         [layoutWidgetsResult]="layoutWidgetsResult"
         [layoutConfigResult]="layoutConfigResult"
         (removeWidget)="removeFromLayout($event)"
         >
        </bx-layout-config>
      </mat-tab>
      <mat-tab label="Configure Settings">
        <bx-settings-config
          [settingsSource]="settingsSource"
          (settingsResult)="processSettingsResult($event)"
          >
        </bx-settings-config>
      </mat-tab>
    </mat-tab-group>

  </mat-sidenav-content>
</mat-sidenav-container>