$lapis-lazuli: (
    50 : #e7edf3,
    100 : #c2d1e0,
    200 : #99b3cc,
    300 : #7094b8,
    400 : #527da8,
    500 : #336699,
    600 : #2e5e91,
    700 : #275386,
    800 : #20497c,
    900 : #14386b,
    A100 : #a2c5ff,
    A200 : #6fa5ff,
    A400 : #3c84ff,
    A700 : #2374ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$cedar-chest: (
    50 : #f7ebe7,
    100 : #eccec3,
    200 : #dfad9c,
    300 : #d28c74,
    400 : #c87356,
    500 : #be5a38,
    600 : #b85232,
    700 : #af482b,
    800 : #a73f24,
    900 : #992e17,
    A100 : #ffd6cf,
    A200 : #ffaa9c,
    A400 : #ff7f69,
    A700 : #ff694f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$straw: (
    50 : #fcfaee,
    100 : #f7f2d4,
    200 : #f1e9b7,
    300 : #ebe09a,
    400 : #e7d985,
    500 : #e3d26f,
    600 : #e0cd67,
    700 : #dcc75c,
    800 : #d8c152,
    900 : #d0b640,
    A100 : #ffffff,
    A200 : #fffcee,
    A400 : #fff2bb,
    A700 : #ffeda1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

