.widget-list {
  .ngx-dnd-container {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }

  .ngx-dnd-item {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin: 0px;
    padding: 0;

    //padding: 0.75rem 1.5rem;
    &:hover {
      //border: 1px solid map-get($mat-grey, 900);
      background-color: rgba(black, 0.10)
    }

  }

  .widget-list-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0.5rem;
    .widget-icon {
      margin-right: 0.5rem;
      flex: 0 0 initial;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width:25px;
      * {
        width: 100%;
      }
    }
    
  }
}
