@import '~@angular/material/theming';
@include mat-core();
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-indigo, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
@include angular-material-theme($dark-theme);
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !default;


