@import '~@angular/material/theming';
@import 'widgets/palette';
@include mat-core();
$dark-primary: mat-palette($lapis-lazuli);
$dark-accent: mat-palette($straw);
$dark-warn: mat-palette($cedar-chest);
$dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
@include angular-material-theme($dark-theme);
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !default;


