<div fxLayout="column" fxLayoutAlign="center stretch" >
<div *ngIf="helpText" fxLayout="row wrap" fxFlexFill class="information">
  <markdown>{{ helpText }}</markdown>
</div>
<div *ngIf="settingsConfigFilesDone" fxLayout="row wrap" fxFlexFill >
  <div *ngFor="let confile of settingsConfigFiles; let i = index" 
        fxFlex="{{ bare ? 100 : 50}}" 
        fxFlex.lt-sm="100"
        fxFlex.gt-md="{{ bare ? 100 : 33 }}"
        fxFlex.gt-lg="{{ bare ? 100 : 25 }}"
        fxLayout="row wrap"
        style="padding:.5rem;">
    <bx-settings-item
        fxFlexFill
        [configFile]="confile" 
        (itemResult)="emitConfigValue($event)"
        [id]="i"
        [bare]="bare"
    >
    </bx-settings-item>
  </div>
</div>
</div>
